<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#OLS-Regression" data-toc-modified-id="OLS-Regression-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>OLS Regression</a></span></li><li><span><a href="#Your-Turn----Activity-I:-Murder-rate-model" data-toc-modified-id="Your-Turn----Activity-I:-Murder-rate-model-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Your Turn -- Activity I: Murder rate model</a></span></li><li><span><a href="#Your-Turn----Activity-II:-Partial-F-Test" data-toc-modified-id="Your-Turn----Activity-II:-Partial-F-Test-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Your Turn -- Activity II: Partial F-Test</a></span></li></ul></div>

## OLS Regression

In [4]:
print('\nEnabling interactive shell outputs ...')
print('   Use command pass; to disable cell text outputs')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import warnings
warnings.filterwarnings('ignore') 
warnings.simplefilter(action="ignore",category=UserWarning)
warnings.simplefilter(action="ignore",category=FutureWarning)

Enabling interactive shell outputs ...
   Use command pass; to disable cell text outputs

In [7]:
import pandas as pd

vis_df = pd.read_excel('lect02-lin-reg.xlsx', 
                       sheet_name='Viscosity', header=0)

In [39]:
vis_df

    Temperature  Catalyst  Viscosity
0            80         8       2256
1            93         9       2340
2           100        10       2426
3            82        12       2293
4            90        11       2330
5            99         8       2368
6            81         8       2250
7            96        10       2409
8            94        12       2364
9            93        11       2379
10           97        13       2440
11           95        11       2364
12          100         8       2404
13           85        12       2317
14           86         9       2309
15           87        12       2328

In [28]:
import numpy as np

In [29]:
import statsmodels.api as sm

Y = vis_df.Viscosity
X = vis_df.drop('Viscosity', axis=1)
Xreg = sm.add_constant(X)

In [30]:
# Fit by using API
vis_lm = sm.OLS(Y, Xreg).fit()

In [31]:
# Fit by using formula
from statsmodels.formula.api import ols

formula = 'Viscosity ~ Temperature + Catalyst'
#formula = 'Viscosity ~ Temperature + Catalyst - 1'

vis_lm = ols(formula, data=vis_df).fit()

In [32]:
# Making prediction

Xk = X.iloc[[5],:]  # Get row  (as dataframe) 
Xreg_k = sm.add_constant(Xk, has_constant='add') 


Yk = np.array(vis_lm.predict(exog=Xreg_k))
Yk

array([2389.26425611])

In [33]:
print("Sum of Squared Errors (SSE): {:.2f}".format(vis_lm.ssr)) # Sum of Squares Residuals
print("Sum of Squared Regression (SSR): {:.2f}".format(vis_lm.ess)) # Explained sum of squares
print("Sum of Squared Total (SST): {:.2f}".format(vis_lm.centered_tss)) # Total sum of squares
print("Residual df (n-p): {:.0f}".format(vis_lm.df_resid))
print("Mean Squared errors (MSE): {:.2f}".format(vis_lm.mse_resid))
print("Standard Errors (Se): {:.2f}".format(np.sqrt(vis_lm.mse_resid)))

Sum of Squared Errors (SSE): 3478.85
Sum of Squared Regression (SSR): 44157.09
Sum of Squared Total (SST): 47635.94
Residual df (n-p): 13
Mean Squared errors (MSE): 267.60
Standard Errors (Se): 16.36

In [34]:
print("R-squared: {:.3f}".format(vis_lm.rsquared))
print("Adjusted R-squared: {:.3f}".format(vis_lm.rsquared_adj))

R-squared: 0.927
Adjusted R-squared: 0.916

## Your Turn -- Activity I: Murder rate model

In [45]:
murder_data = pd.read_excel('lect02-lin-reg.xlsx', sheet_name='State murder')
murder_data.describe(include='all')

         Murder    Population  Illiteracy       Income       Frost
count  50.00000     50.000000   50.000000    50.000000   50.000000
mean    7.37800   4246.420000    1.170000  4435.800000  104.460000
std     3.69154   4464.491433    0.609533   614.469939   51.980848
min     1.40000    365.000000    0.500000  3098.000000    0.000000
25%     4.35000   1079.500000    0.625000  3992.750000   66.250000
50%     6.85000   2838.500000    0.950000  4519.000000  114.500000
75%    10.67500   4968.500000    1.575000  4813.500000  139.750000
max    15.10000  21198.000000    2.800000  6315.000000  188.000000

In [47]:
import statsmodels.api as sm

Y = murder_data.Murder
X = murder_data.drop('Murder', axis=1)
Xreg = sm.add_constant(X)

In [48]:
murder_data_lm = sm.OLS(Y, Xreg).fit()

In [68]:
from statsmodels.formula.api import ols

formula = 'Murder ~ Population + Illiteracy + Income + Frost'
#formula = 'Viscosity ~ Temperature + Catalyst - 1'

murder_data_lm = ols(formula, data=murder_data).fit()

In [70]:
#print('Coefficiency')
murder_data_lm.params

Intercept     1.234563
Population    0.000224
Illiteracy    4.142837
Income        0.000064
Frost         0.000581
dtype: float64

In [71]:
murder_data_lm.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     0.528
Dependent Variable: Murder           AIC:                239.6429
Date:               2021-08-26 12:05 BIC:                249.2031
No. Observations:   50               Log-Likelihood:     -114.82
Df Model:           4                F-statistic:        14.73
Df Residuals:       45               Prob (F-statistic): 9.13e-08
R-squared:          0.567            Scale:              6.4259
-------------------------------------------------------------------
             Coef.    Std.Err.     t      P>|t|     [0.025   0.975]
-------------------------------------------------------------------
Intercept    1.2346     3.8661   0.3193   0.7510   -6.5522   9.0213
Population   0.0002     0.0001   2.4711   0.0173    0.0000   0.0004
Illiteracy   4.1428     0.8744   4.7382   0.0000    2.3818   5.9039
Income       0.0001     0.0007   0.0942   0.9253   -0.0013   0.0014
Frost        0.0006     0.0101   0.0578   0.9541   -0.0197   0.0208
-----------------------------------------------------------------
Omnibus:              3.209        Durbin-Watson:           2.318
Prob(Omnibus):        0.201        Jarque-Bera (JB):        2.175
Skew:                 0.430        Prob(JB):                0.337
Kurtosis:             3.553        Condition No.:           77383
=================================================================
* The condition number is large (8e+04). This might indicate
strong multicollinearity or other numerical problems.
"""